/* button{
  border: 1px grey;
  color: white;
  padding: 0px 0px;
} */


#grids-container{
  display:grid;
  width:1000px;
  height:600px;
  /* grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end]; */
  grid-template-columns: 5fr 40fr 10fr 40fr 5fr;
  grid-template-rows: 10fr 10fr 70fr 10fr;
  border:1px solid red; 
}


#login-area{
  grid-column:2;
  grid-row:1;
}

#player-duck-counter{
  grid-column: 2;
  grid-row: 2;
}
#player-grid{
  grid-column: 2;
  grid-row: 3;
}

#comp-duck-counter{
  grid-column: 4;
  grid-row: 2;
}
#cpu-grid{
  grid-column: 4;
  grid-row: 3;
}

.pond-grid{
  width: 400px;
  height: 400px;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
}


.cell {
  width: 50px;
  height: 50px;

  margin: auto;

  border: 1px solid #aaa;
  /* text-align: center; */
  text-decoration: none;
  
  cursor: pointer;
}

.water {
  background-color: blue;
}
.hit {
  background-color: red;
}
.miss {
  background-color: grey;
}

.duck {
  background-color: yellow;
}
.goose {
  background-color: goldenrod;
}
.baby {
  background-color: yellowgreen;
}




/* For the Duck counter */

.fleet {
  padding-left: 10px; 
}
.lifeBoxes {
  padding-left: 5px;
  white-space: nowrap;
}
.lifeBoxes div {
	display: inline-block;
  height: 10px;
  width: 10px;
  text-align: left;
  border: 1px solid black;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}