/* button{
  border: 1px grey;
  color: white;
  padding: 0px 0px;
} */

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

#message-box{
  position: absolute;
  /* float:left; */
  /* left: 100px;
  top: 100px;
  margin:0 auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:300px;
  height:200px;
  background-color: dodgerblue;
  border:1px solid black;
  text-align:center;
}

#grids-container{
  display:grid;
  width:100%;
  height:600px;
  grid-template-columns: 30fr 5fr 40fr 5fr 40fr;
  grid-template-rows: 10fr 10fr 70fr 10fr;
  border:1px solid red; 
}

#user-info {
  grid-column: 1;
  grid-row: 2;
}

#login-area{
  grid-column:1;
  grid-row:1;
}

#player-duck-counter{
  grid-column: 2;
  grid-row: 2;
}
#player-grid{
  grid-column: 2;
  grid-row: 3;
}

#comp-duck-counter{
  grid-column: 4;
  grid-row: 2;
}
#cpu-grid{
  grid-column: 4;
  grid-row: 3;
}

.pond-grid{
  width: 400px;
  height: 400px;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
}


.cell {
  width: 50px;
  height: 50px;

  margin: auto;

  border: 1px solid #aaa;
  /* text-align: center; */
  text-decoration: none;
  
  cursor: pointer;
}

.water {
  background-color: blue;
}
.hit {
  background-color: red;
}
.miss {
  background-color: grey;
}

.duck {
  background-color: yellow;
}
.goose {
  background-color: goldenrod;
}
.baby {
  background-color: yellowgreen;
}




/* For the Duck counter */

.fleet-table {
  width:200px;
}

.fleet-table * {
  /* border:1px solid goldenrod; */
}

.fleet-table td{
  width: 33%;
  text-align:center;
}

.fleet-table th{
  width: 33%;
  text-align:center;
}

.fleet {
  padding-left: 10px; 
  width:25px;
}
.lifeBoxes {
  /* text-align:center; */
  padding-left: 5px;
  white-space: nowrap;
}
.lifeBoxes div {
	display: inline-block;
  height: 10px;
  width: 10px;
  /* text-align: left; */
  border: 1px solid black;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}

.skull-and-crossbones {
  text-align: center;
  font-size: 1.5em;
}